body {
    font-family: Arial, sans-serif;
    width: 240px;
    text-align: center;
    background: #1e1e1e;
    color: white;
}

#menuWrapper {
    padding: 4px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, white, #ff0000);
}

#menuContainer {
    padding: 5px;
    border-radius: 6px;
    background-color: #262626; 
}

/* main title */
#title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px #ff0000; 
}

/* current speed title + display */
h3 {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}

#currentSpeed {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 15px;
}

/* custom speed input */
#inputTitle {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
input {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 6px;
    background: #404040;
    color: white;
}

/* button styles */
.button {
    display: inline-block;
    margin: 10px 5px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: 2px solid #ff0000;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px transparent; 
}

.button:hover {
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.75);
}

/* speed apply button */
#setSpeed {
    width: 75%;
    padding: 12px 0;
    font-size: 16px;
    background-color: #ff0000;
}
#setSpeed:hover {
    background-color: transparent;
}

/* speed reset button */
#resetSpeed {
    width: 45%;
    padding: 8px 0;
    font-size: 14px;
    background-color: transparent;
}
#resetSpeed:hover {
    background-color: #ff0000;
}

/* buttons for speed options */
.speed-option {
    padding: 6px 10px;
    font-size: 12px;
    background: transparent;
}
.speed-option:hover {
    background-color: #ff0000;
}

/* button slight shrink click effect */
.button:active {
    transform: scale(0.95);
}
